@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Gavin Bramley
    2934 Se Alder st #5
    Portland, OR 97214
    (503)519-3655
    <a href="mailto:bramley.gavin@gmail.com">bramley.gavin@gmail.com</a>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>